<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Games</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_usuario.css}">


</head>

<body>

    <div class="menu">
        <nav>
            <ul class="lista">
                <li> <a class="menu" href="/">Home</a> </li>

            </ul>
        </nav>
    </div>
    <div>


        <div class="divform">
            <form class="areaform" method="POST">
                <fieldset>
                    <legend>
                        <h2>Cadastrar novo Usuarios</h2>
                    </legend>
                    Nome: <input type="text" name="nome"><br />
                    Sobre Nome: <input type="text" name="sobreNome"><br />
                    Email: <input type="text" name="email"><br />
                    Apelido: <input type="text" name="apelido"><br />
                    Senha: <input type="text" name="senha"><br />

                    <button type="submit">Cadastrar </button>
                </fieldset>
            </form>



        </div>


    </div>

    <div class="erro" th:each="erros : ${erros}">
        <h2 th:text="${erros}"></h2>

    </div>

    <div class="mensagem" th:each="mensagem : ${mensagens}">
        <h2 th:text="${mensagem}"></h2>
    </div>

    <div>
        <h1>Lista de Usuarios</h1>
        

        <div class="user" th:each="usuario : ${usuarios}">
            <h2 th:text="'Nome: '+${usuario.nome}"></h2>
            <p th:text="'SobreNome: '+${usuario.sobreNome}"></p>
            <p th:text="'Email: '+${usuario.email}"></p>
            <p th:text="'Apelido: '+${usuario.login.apelido}"></p>
            <p th:text="'Senha: '+${usuario.login.senha}"></p>       

        </div>
    </div>

</body>

</html>